<H1>Results</H1>

<div class='h3 p-3'>
  <div>Ship: <%= @calculator.ship_code %></div>
  <div>Date: <%= @calculator.date.strftime('%m/%d/%Y') %></div>
  <div>Port: <%= @calculator.port_name %></div>
  <div>Total Max is: <%= @calculator.total_maximum %></div>
  <div>Total Sold is: <%= @calculator.total_sold %></div>
  <div>Total Unique Tour Codes is: <%= @calculator.tour_codes_count %></div>
</div>

<%= button_to 'Calculate another date/tour code', new_calculator_path, class: 'btn btn-success m-3', method: :get %>